---
http_interactions:
  - request:
      method: post
      uri: https://auth.tesla.com/oauth2/v3/token
      body:
        encoding: UTF-8
        string: '{"grant_type":"refresh_token","scope":"openid email offline_access","client_id":"ownerapi","client_secret":"<TESLA_CLIENT_SECRET>","refresh_token":"<TESLA_REFRESH_TOKEN>"}'
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Correlation-Id:
          - c6575e47-91d3-4a07-9985-358de3dbe39e
        X-Response-Time:
          - 24.639ms
      body:
        encoding: UTF-8
        string: '{"access_token":"acess","refresh_token":"<TESLA_REFRESH_TOKEN>","id_token":"id","expires_in":28800,"token_type":"Bearer"}'
    recorded_at: Sat, 30 Jan 2021 15:18:43 GMT
recorded_with: VCR 6.0.0
