---
http_interactions:
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TESLA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Txid:
      - 15cb55dec7d2d1dc78cd67598aa706f6
      Etag:
      - W/"b26b5170c82c57684330e746935a0a44"
    body:
      encoding: UTF-8
      string: '{"response":[{"id":19298251174317440,"vehicle_id":1817902171,"vin":"5YJSA1E41GF167745","display_name":"Nikola
        2.0","option_codes":"MDLS,RENA,AF02,APF1,APH2,APPB,AU01,BC0R,BP00,BR00,BS00,CDM0,CH05,PBCW,CW00,DCF0,DRLH,DSH7,DV4W,FG02,FR04,HP00,IDBA,IX01,LP01,ME02,MI01,PF01,PI01,PK00,PS01,PX00,PX4D,QTVB,RFP2,SC01,SP00,SR01,SU01,TM00,TP03,TR00,UTAB,WTAS,X001,X003,X007,X011,X013,X021,X024,X027,X028,X031,X037,X040,X044,YFFC,COUS","color":null,"tokens":["8d219a2e09242e02","b12ead7cd34f97da"],"state":"online","in_service":false,"id_s":"19298251174317440","calendar_enabled":true,"api_version":4,"backseat_token":null,"backseat_token_updated_at":null}],"count":1}'
  recorded_at: Tue, 11 Dec 2018 03:44:57 GMT
- request:
    method: post
    uri: https://owner-api.teslamotors.com/api/1/vehicles/19298251174317440/command/charge_port_door_close
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <TESLA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Txid:
      - c09dc914f843986f904fd37003063934
      Etag:
      - W/"f67eec105dd6522783a1f1bacc52723a"
    body:
      encoding: UTF-8
      string: '{"response":{"reason":"","result":true}}'
  recorded_at: Tue, 11 Dec 2018 03:44:57 GMT
recorded_with: VCR 4.0.0
