---
http_interactions:
- request:
    method: post
    uri: https://owner-api.teslamotors.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=password&client_id=<TESLA_CLIENT_ID>&client_secret=<TESLA_CLIENT_SECRET>&email=<TESLA_EMAIL>&password=<TESLA_PASS>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"access_token":"a3bce92ff51163fa6072f435e88b4e9de61c79bafdfbae5867fb1157b00a64c5","token_type":"bearer","expires_in":7776000}'
  recorded_at: Wed, 17 Dec 2014 02:02:01 GMT
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a3bce92ff51163fa6072f435e88b4e9de61c79bafdfbae5867fb1157b00a64c5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"f75b5f2e5ddca5f7c1bf938da14972f4"'
    body:
      encoding: UTF-8
      string: '{"response":[{"color":null,"display_name":"Nikola","id":1514029006966957156,"option_codes":"MS01,RENA,TM00,DRLH,PF00,BT85,PBCW,RFPO,WT19,IBMB,IDPB,TR00,SU01,SC01,TP01,AU01,CH00,HP00,PA00,PS00,AD02,X020,X025,X001,X003,X007,X011,X013,COUS","vehicle_id":490215852,"vin":"5YJSA1CN5CFP01657","tokens":["13e0ae629c708af6","156102684b1be0dd"],"state":"online","remote_start_enabled":true,"calendar_enabled":true,"notifications_enabled":true}],"count":1}'
  recorded_at: Wed, 17 Dec 2014 02:02:02 GMT
- request:
    method: post
    uri: https://owner-api.teslamotors.com/api/1/vehicles/1514029006966957156/command/actuate_trunk
    body:
      encoding: UTF-8
      string: which_trunk=rear
    headers:
      Authorization:
      - Bearer a3bce92ff51163fa6072f435e88b4e9de61c79bafdfbae5867fb1157b00a64c5
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"response":null,"error":"invalid_command","error_description":""}'
  recorded_at: Wed, 17 Dec 2014 02:02:02 GMT
recorded_with: VCR 2.9.3
