---
http_interactions:
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TESLA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Txid:
      - f5858ba54b27bda29431e24f84f7dc79
      Etag:
      - W/"b26b5170c82c57684330e746935a0a44"
    body:
      encoding: UTF-8
      string: '{"response":[{"id":19298251174317440,"vehicle_id":1817902171,"vin":"5YJSA1E41GF167745","display_name":"Nikola
        2.0","option_codes":"MDLS,RENA,AF02,APF1,APH2,APPB,AU01,BC0R,BP00,BR00,BS00,CDM0,CH05,PBCW,CW00,DCF0,DRLH,DSH7,DV4W,FG02,FR04,HP00,IDBA,IX01,LP01,ME02,MI01,PF01,PI01,PK00,PS01,PX00,PX4D,QTVB,RFP2,SC01,SP00,SR01,SU01,TM00,TP03,TR00,UTAB,WTAS,X001,X003,X007,X011,X013,X021,X024,X027,X028,X031,X037,X040,X044,YFFC,COUS","color":null,"tokens":["8d219a2e09242e02","b12ead7cd34f97da"],"state":"online","in_service":false,"id_s":"19298251174317440","calendar_enabled":true,"api_version":4,"backseat_token":null,"backseat_token_updated_at":null}],"count":1}'
  recorded_at: Tue, 11 Dec 2018 03:36:25 GMT
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles/19298251174317440/data
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TESLA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Txid:
      - ee819e52b1e0dfe4e9f1f51c0dd9a1e5
      Etag:
      - W/"4f099b5aee5cb3f957cdec4009e0a670"
    body:
      encoding: UTF-8
      string: '{"response":{"id":19298251174317440,"user_id":1023,"vehicle_id":1817902171,"vin":"5YJSA1E41GF167745","display_name":"Nikola
        2.0","option_codes":"MDLS,RENA,AF02,APF1,APH2,APPB,AU01,BC0R,BP00,BR00,BS00,CDM0,CH05,PBCW,CW00,DCF0,DRLH,DSH7,DV4W,FG02,FR04,HP00,IDBA,IX01,LP01,ME02,MI01,PF01,PI01,PK00,PS01,PX00,PX4D,QTVB,RFP2,SC01,SP00,SR01,SU01,TM00,TP03,TR00,UTAB,WTAS,X001,X003,X007,X011,X013,X021,X024,X027,X028,X031,X037,X040,X044,YFFC,COUS","color":null,"tokens":["8d219a2e09242e02","b12ead7cd34f97da"],"state":"online","in_service":false,"id_s":"19298251174317440","calendar_enabled":true,"api_version":4,"backseat_token":null,"backseat_token_updated_at":null,"vehicle_config":{"can_accept_navigation_requests":true,"can_actuate_trunks":true,"car_special_type":"base","car_type":"models2","charge_port_type":"US","eu_vehicle":false,"exterior_color":"White","has_air_suspension":true,"has_ludicrous_mode":false,"motorized_charge_port":true,"perf_config":"P2","plg":true,"rear_seat_heaters":0,"rear_seat_type":0,"rhd":false,"roof_color":"None","seat_type":2,"spoiler_type":"None","sun_roof_installed":2,"third_row_seats":"None","timestamp":1544499391151,"trim_badging":"p90d","wheel_type":"AeroTurbine19"},"drive_state":{"gps_as_of":1544499390,"heading":5,"latitude":33.979812,"longitude":-84.469132,"native_latitude":33.979812,"native_location_supported":1,"native_longitude":-84.469132,"native_type":"wgs","power":-9,"shift_state":null,"speed":null,"timestamp":1544499391157},"gui_settings":{"gui_24_hour_time":false,"gui_charge_rate_units":"mi/hr","gui_distance_units":"mi/hr","gui_range_display":"Rated","gui_temperature_units":"F","timestamp":1544499391160},"climate_state":{"battery_heater":false,"battery_heater_no_power":false,"driver_temp_setting":21.1,"fan_status":0,"inside_temp":15.0,"is_auto_conditioning_on":false,"is_climate_on":false,"is_front_defroster_on":false,"is_preconditioning":false,"is_rear_defroster_on":false,"left_temp_direction":150,"max_avail_temp":28.0,"min_avail_temp":15.0,"outside_temp":4.5,"passenger_temp_setting":21.1,"right_temp_direction":150,"seat_heater_left":false,"seat_heater_rear_center":false,"seat_heater_rear_left":false,"seat_heater_rear_left_back":0,"seat_heater_rear_right":false,"seat_heater_rear_right_back":0,"seat_heater_right":false,"side_mirror_heaters":false,"smart_preconditioning":false,"steering_wheel_heater":false,"timestamp":1544499391160,"wiper_blade_heater":false},"vehicle_state":{"api_version":4,"autopark_state_v2":"standby","autopark_style":"standard","calendar_supported":true,"car_version":"2018.42.2
        19e7e44","center_display_state":0,"df":0,"dr":0,"ft":0,"homelink_nearby":true,"is_user_present":false,"last_autopark_error":"no_error","locked":true,"media_state":{"remote_control_enabled":true},"notifications_supported":true,"odometer":36656.637738,"parsed_calendar_supported":true,"pf":0,"pr":0,"remote_start":false,"remote_start_supported":true,"rt":0,"software_update":{"expected_duration_sec":6000,"status":"available"},"speed_limit_mode":{"active":false,"current_limit_mph":50.0,"max_limit_mph":90,"min_limit_mph":50,"pin_code_set":false},"sun_roof_percent_open":0,"sun_roof_state":"unknown","timestamp":1544499391160,"valet_mode":false,"valet_pin_needed":true,"vehicle_name":"Nikola
        2.0"},"charge_state":{"battery_heater_on":false,"battery_level":73,"battery_range":187.18,"charge_current_request":40,"charge_current_request_max":40,"charge_enable_request":true,"charge_energy_added":14.32,"charge_limit_soc":90,"charge_limit_soc_max":100,"charge_limit_soc_min":50,"charge_limit_soc_std":90,"charge_miles_added_ideal":58.0,"charge_miles_added_rated":46.0,"charge_port_door_open":true,"charge_port_latch":"Engaged","charge_rate":28.1,"charge_to_max_range":false,"charger_actual_current":39,"charger_phases":1,"charger_pilot_current":40,"charger_power":9,"charger_voltage":243,"charging_state":"Charging","conn_charge_cable":"SAE","est_battery_range":157.31,"fast_charger_brand":"\u003cinvalid\u003e","fast_charger_present":false,"fast_charger_type":"\u003cinvalid\u003e","ideal_battery_range":233.97,"managed_charging_active":false,"managed_charging_start_time":null,"managed_charging_user_canceled":false,"max_range_charge_counter":0,"not_enough_power_to_heat":false,"scheduled_charging_pending":false,"scheduled_charging_start_time":null,"time_to_full_charge":1.5,"timestamp":1544499391155,"trip_charging":false,"usable_battery_level":73,"user_charge_enable_request":null}}}'
  recorded_at: Tue, 11 Dec 2018 03:36:31 GMT
recorded_with: VCR 4.0.0
