---
http_interactions:
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TESLA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"1a341f7e69533f4f8201999a4732d298"'
    body:
      encoding: UTF-8
      string: '{"response":[{"color":null,"display_name":"Nikola","id":49800504717279029,"option_codes":"MS01,RENA,TM00,DRLH,PF00,BT85,PBCW,RFPO,WT19,IBMB,IDPB,TR00,SU01,SC01,TP01,AU01,CH00,HP00,PA00,PS00,AD02,X020,X025,X001,X003,X007,X011,X013,COUS","vehicle_id":490215852,"vin":"5YJSA1CN5CFP01657","tokens":["b3c212faedd98d90","29435ecf655ed476"],"state":"online","id_s":"49800504717279029","remote_start_enabled":true,"calendar_enabled":true,"notifications_enabled":true,"backseat_token":null,"backseat_token_updated_at":null}],"count":1}'
  recorded_at: Sat, 23 Jan 2016 18:39:43 GMT
- request:
    method: post
    uri: https://owner-api.teslamotors.com/api/1/vehicles/49800504717279029/command/set_valet_mode
    body:
      encoding: UTF-8
      string: on=true&password=1234
    headers:
      Authorization:
      - Bearer <TESLA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"f67eec105dd6522783a1f1bacc52723a"'
    body:
      encoding: UTF-8
      string: '{"response":{"reason":"","result":true}}'
  recorded_at: Sat, 23 Jan 2016 18:39:44 GMT
recorded_with: VCR 2.9.3
