---
http_interactions:
- request:
    method: post
    uri: https://owner-api.teslamotors.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=password&client_id=<TESLA_CLIENT_ID>&client_secret=<TESLA_CLIENT_SECRET>&email=<TESLA_EMAIL>&password=<TESLA_PASS>
    headers:
      Authorization:
      - Bearer ad890005a62335f6330e91194985fc9338cbfaf4fd4e16323082d505a967f572
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"3feccc557a27daf69e3786a1943b714c"'
    body:
      encoding: UTF-8
      string: '{"access_token":"0383e3ae4c7d8e14ba17af871cf5211c426ff7e1639bec095d27647f4d133c8b","token_type":"bearer","expires_in":7776000}'
  recorded_at: Wed, 17 Dec 2014 01:32:42 GMT
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 0383e3ae4c7d8e14ba17af871cf5211c426ff7e1639bec095d27647f4d133c8b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"c52908b8db9336f89e7a1602f3b2a458"'
    body:
      encoding: UTF-8
      string: '{"response":[{"color":null,"display_name":"Nikola","id":1514029006966957156,"option_codes":"MS01,RENA,TM00,DRLH,PF00,BT85,PBCW,RFPO,WT19,IBMB,IDPB,TR00,SU01,SC01,TP01,AU01,CH00,HP00,PA00,PS00,AD02,X020,X025,X001,X003,X007,X011,X013,COUS","vehicle_id":490215852,"vin":"5YJSA1CN5CFP01657","tokens":["b1278e37b13e8df2","b2fd1ad42f706a73"],"state":"online","remote_start_enabled":true,"calendar_enabled":true,"notifications_enabled":true}],"count":1}'
  recorded_at: Wed, 17 Dec 2014 01:32:43 GMT
- request:
    method: post
    uri: https://owner-api.teslamotors.com/api/1/vehicles/1514029006966957156/command/set_charge_limit
    body:
      encoding: UTF-8
      string: percent=1
    headers:
      Authorization:
      - Bearer 0383e3ae4c7d8e14ba17af871cf5211c426ff7e1639bec095d27647f4d133c8b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"f67eec105dd6522783a1f1bacc52723a"'
    body:
      encoding: UTF-8
      string: '{"response":{"reason":"","result":true}}'
  recorded_at: Wed, 17 Dec 2014 01:32:44 GMT
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles/1514029006966957156/data_request/charge_state
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 0383e3ae4c7d8e14ba17af871cf5211c426ff7e1639bec095d27647f4d133c8b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"21829ac527d051a3b7c22e6a9e0aab6b"'
    body:
      encoding: UTF-8
      string: '{"response":{"charging_state":"Stopped","charge_limit_soc":50,"charge_limit_soc_std":90,"charge_limit_soc_min":50,"charge_limit_soc_max":100,"charge_to_max_range":false,"battery_heater_on":null,"not_enough_power_to_heat":false,"max_range_charge_counter":0,"fast_charger_present":false,"fast_charger_type":"<invalid>","battery_range":195.84,"est_battery_range":140.72,"ideal_battery_range":221.71,"battery_level":78,"usable_battery_level":78,"battery_current":-0.1,"charge_energy_added":0.0,"charge_miles_added_rated":0.0,"charge_miles_added_ideal":0.0,"charger_voltage":0,"charger_pilot_current":40,"charger_actual_current":0,"charger_power":0,"time_to_full_charge":0.0,"charge_rate":0.0,"charge_port_door_open":true,"motorized_charge_port":false,"scheduled_charging_start_time":null,"scheduled_charging_pending":false,"user_charge_enable_request":false,"charge_enable_request":false,"eu_vehicle":false,"charger_phases":null}}'
  recorded_at: Wed, 17 Dec 2014 01:32:44 GMT
recorded_with: VCR 2.9.3
