---
http_interactions:
  - request:
      method: get
      uri: https://owner-api.teslamotors.com/api/1/vehicles
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer <TESLA_ACCESS_TOKEN>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Txid:
          - c127cfa247c4634c8a2931df6833022f
        Etag:
          - W/"0a104c18c47b4bff63a0b6dec9143b32"
      body:
        encoding: UTF-8
        string:
          '{"response":[{"id":26640707449551857,"vehicle_id":1817902171,"vin":"5YJSA1E41GF167745","display_name":"Nikola
          2.0","option_codes":"AD15,MDL3,PBSB,RENA,BT37,ID3W,RF3G,S3PB,DRLH,DV2W,W39B,APF0,COUS,BC3B,CH07,PC30,FC3P,FG31,GLFR,HL31,HM31,IL31,LTPB,MR31,FM3B,RS3H,SA3P,STCP,SC04,SU3C,T3CA,TW00,TM00,UT3P,WR00,AU3P,APH3,AF00,ZCST,MI00,CDM0","color":null,"tokens":["1","2"],"state":"online","in_service":false,"id_s":"26640707449551857","calendar_enabled":true,"api_version":7,"backseat_token":null,"backseat_token_updated_at":null}],"count":1}'
    recorded_at: Fri, 03 Jan 2020 16:04:22 GMT
  - request:
      method: get
      uri: https://owner-api.teslamotors.com/api/1/vehicles/26640707449551857/eligible_upgrades
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer <TESLA_ACCESS_TOKEN>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Txid:
          - afb3b95bafdf27ff45811f9f5b255d64
        Etag:
          - W/"a6411e92042f232344d048a830311bd4"
      body:
        encoding: UTF-8
        string: '{"upgrade_eligible":false}'
    recorded_at: Fri, 03 Jan 2020 16:04:23 GMT
recorded_with: VCR 5.0.0
