---
http_interactions:
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TESLA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Txid:
      - 0dd1f1f026f902339fe4bb629429d653
      Etag:
      - W/"6958697e3e1e010f56068d8c7fa2f93d"
    body:
      encoding: UTF-8
      string: '{"response":[{"color":null,"display_name":"Nikola","id":1514029006966957156,"option_codes":"MS01,RENA,TM00,DRLH,PF00,BT85,PBCW,RFPO,WT19,IBMB,IDPB,TR00,SU01,SC01,TP01,AU01,CH00,HP00,PA00,PS00,AD02,X020,X025,X001,X003,X007,X011,X013,COUS","vehicle_id":490215852,"vin":"5YJSA1CN5CFP01657","tokens":["a1f3fab6393d3a6a","91a139ce322eed65"],"state":"online","remote_start_enabled":true,"calendar_enabled":true,"notifications_enabled":true}],"count":1}'
  recorded_at: Wed, 18 Jul 2018 23:51:18 GMT
- request:
    method: post
    uri: https://owner-api.teslamotors.com/api/1/vehicles/1514029006966957156/command/speed_limit_set_limit
    body:
      encoding: UTF-8
      string: limit_mph=65
    headers:
      Authorization:
      - Bearer <TESLA_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Txid:
      - 47cdfaf37f13879846e19ed31441ade3
      Etag:
      - W/"f67eec105dd6522783a1f1bacc52723a"
    body:
      encoding: UTF-8
      string: '{"response":{"reason":"","result":true}}'
  recorded_at: Wed, 18 Jul 2018 23:51:19 GMT
recorded_with: VCR 3.0.3
