---
http_interactions:
- request:
    method: post
    uri: https://owner-api.teslamotors.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=password&client_id=<TESLA_CLIENT_ID>&client_secret=<TESLA_CLIENT_SECRET>&email=<TESLA_EMAIL>&password=<TESLA_PASS>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"access_token":"5f423fa2d3c1886006c801d9e3a14388f8f196cdab2b503af7dba983a2d4c796","token_type":"bearer","expires_in":7776000}'
  recorded_at: Wed, 17 Dec 2014 00:28:03 GMT
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 5f423fa2d3c1886006c801d9e3a14388f8f196cdab2b503af7dba983a2d4c796
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"c5d083718f906b7336fb8b28fcc87b6c"'
    body:
      encoding: UTF-8
      string: '{"response":[{"color":null,"display_name":"Nikola","id":1514029006966957156,"option_codes":"MS01,RENA,TM00,DRLH,PF00,BT85,PBCW,RFPO,WT19,IBMB,IDPB,TR00,SU01,SC01,TP01,AU01,CH00,HP00,PA00,PS00,AD02,X020,X025,X001,X003,X007,X011,X013,COUS","vehicle_id":490215852,"vin":"5YJSA1CN5CFP01657","tokens":["6b6e59059375f282","09b1673648be8c08"],"state":"online","remote_start_enabled":true,"calendar_enabled":true,"notifications_enabled":true}],"count":1}'
  recorded_at: Wed, 17 Dec 2014 00:28:03 GMT
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles/1514029006966957156/data_request/gui_settings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 5f423fa2d3c1886006c801d9e3a14388f8f196cdab2b503af7dba983a2d4c796
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"244167fd8d1d060ffabae9da87cac508"'
    body:
      encoding: UTF-8
      string: '{"response":{"gui_distance_units":"mi/hr","gui_temperature_units":"F","gui_charge_rate_units":"mi/hr","gui_24_hour_time":false,"gui_range_display":"Rated"}}'
  recorded_at: Wed, 17 Dec 2014 00:28:04 GMT
recorded_with: VCR 2.9.3
