---
http_interactions:
- request:
    method: post
    uri: https://owner-api.teslamotors.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=password&client_id=<TESLA_CLIENT_ID>&client_secret=<TESLA_CLIENT_SECRET>&email=<TESLA_EMAIL>&password=<TESLA_PASS>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"access_token":"22dd3bbeff29a217ffb59f92a8025553e042f7ca9bcdfa09e7b12515bf4a83ff","token_type":"bearer","expires_in":7776000}'
  recorded_at: Wed, 17 Dec 2014 00:44:00 GMT
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 22dd3bbeff29a217ffb59f92a8025553e042f7ca9bcdfa09e7b12515bf4a83ff
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"da4dacae4827973552fc7e246850f189"'
    body:
      encoding: UTF-8
      string: '{"response":[{"color":null,"display_name":"Nikola","id":1514029006966957156,"option_codes":"MS01,RENA,TM00,DRLH,PF00,BT85,PBCW,RFPO,WT19,IBMB,IDPB,TR00,SU01,SC01,TP01,AU01,CH00,HP00,PA00,PS00,AD02,X020,X025,X001,X003,X007,X011,X013,COUS","vehicle_id":490215852,"vin":"5YJSA1CN5CFP01657","tokens":["493cead2e5ab6535","6b6e59059375f282"],"state":"online","remote_start_enabled":true,"calendar_enabled":true,"notifications_enabled":true}],"count":1}'
  recorded_at: Wed, 17 Dec 2014 00:44:01 GMT
- request:
    method: post
    uri: https://owner-api.teslamotors.com/api/1/vehicles/1514029006966957156/wake_up
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 22dd3bbeff29a217ffb59f92a8025553e042f7ca9bcdfa09e7b12515bf4a83ff
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"81a8f0221f021e658b0cab7f4b166ae9"'
    body:
      encoding: UTF-8
      string: '{"response":{"color":null,"display_name":"Nikola","id":1514029006966957156,"option_codes":"MS01,RENA,TM00,DRLH,PF00,BT85,PBCW,RFPO,WT19,IBMB,IDPB,TR00,SU01,SC01,TP01,AU01,CH00,HP00,PA00,PS00,AD02,X020,X025,X001,X003,X007,X011,X013,COUS","vehicle_id":490215852,"vin":"5YJSA1CN5CFP01657","tokens":["493cead2e5ab6535","6b6e59059375f282"],"state":"online","remote_start_enabled":true,"calendar_enabled":true,"notifications_enabled":true}}'
  recorded_at: Wed, 17 Dec 2014 00:44:02 GMT
recorded_with: VCR 2.9.3
