---
http_interactions:
- request:
    method: post
    uri: https://owner-api.teslamotors.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=password&client_id=<TESLA_CLIENT_ID>&client_secret=<TESLA_CLIENT_SECRET>&email=<TESLA_EMAIL>&password=<TESLA_PASS>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"access_token":"4aa8a5d21af55946a667c552c040ad37c1302ef7412d6ad4f91a5b998098e223","token_type":"bearer","expires_in":7776000}'
  recorded_at: Wed, 17 Dec 2014 01:38:30 GMT
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4aa8a5d21af55946a667c552c040ad37c1302ef7412d6ad4f91a5b998098e223
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"c52908b8db9336f89e7a1602f3b2a458"'
    body:
      encoding: UTF-8
      string: '{"response":[{"color":null,"display_name":"Nikola","id":1514029006966957156,"option_codes":"MS01,RENA,TM00,DRLH,PF00,BT85,PBCW,RFPO,WT19,IBMB,IDPB,TR00,SU01,SC01,TP01,AU01,CH00,HP00,PA00,PS00,AD02,X020,X025,X001,X003,X007,X011,X013,COUS","vehicle_id":490215852,"vin":"5YJSA1CN5CFP01657","tokens":["b1278e37b13e8df2","b2fd1ad42f706a73"],"state":"online","remote_start_enabled":true,"calendar_enabled":true,"notifications_enabled":true}],"count":1}'
  recorded_at: Wed, 17 Dec 2014 01:38:30 GMT
- request:
    method: post
    uri: https://owner-api.teslamotors.com/api/1/vehicles/1514029006966957156/command/sun_roof_control
    body:
      encoding: UTF-8
      string: state=vent
    headers:
      Authorization:
      - Bearer 4aa8a5d21af55946a667c552c040ad37c1302ef7412d6ad4f91a5b998098e223
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"f67eec105dd6522783a1f1bacc52723a"'
    body:
      encoding: UTF-8
      string: '{"response":{"reason":"","result":true}}'
  recorded_at: Wed, 17 Dec 2014 01:38:31 GMT
recorded_with: VCR 2.9.3
