---
http_interactions:
- request:
    method: post
    uri: https://owner-api.teslamotors.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=password&client_id=<TESLA_CLIENT_ID>&client_secret=<TESLA_CLIENT_SECRET>&email=<TESLA_EMAIL>&password=<TESLA_PASS>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"access_token":"15946d347785c499bdeba92c7088b8e543265fba3cc35339707abfd875c09f70","token_type":"bearer","expires_in":7776000}'
  recorded_at: Wed, 17 Dec 2014 00:18:22 GMT
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 15946d347785c499bdeba92c7088b8e543265fba3cc35339707abfd875c09f70
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"c5d083718f906b7336fb8b28fcc87b6c"'
    body:
      encoding: UTF-8
      string: '{"response":[{"color":null,"display_name":"Nikola","id":1514029006966957156,"option_codes":"MS01,RENA,TM00,DRLH,PF00,BT85,PBCW,RFPO,WT19,IBMB,IDPB,TR00,SU01,SC01,TP01,AU01,CH00,HP00,PA00,PS00,AD02,X020,X025,X001,X003,X007,X011,X013,COUS","vehicle_id":490215852,"vin":"5YJSA1CN5CFP01657","tokens":["6b6e59059375f282","09b1673648be8c08"],"state":"online","remote_start_enabled":true,"calendar_enabled":true,"notifications_enabled":true}],"count":1}'
  recorded_at: Wed, 17 Dec 2014 00:18:22 GMT
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles/1514029006966957156/data_request/charge_state
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 15946d347785c499bdeba92c7088b8e543265fba3cc35339707abfd875c09f70
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"69ee67fed559493cfe13612b2bfe9561"'
    body:
      encoding: UTF-8
      string: '{"response":{"charging_state":"Disconnected","charge_limit_soc":90,"charge_limit_soc_std":90,"charge_limit_soc_min":50,"charge_limit_soc_max":100,"charge_to_max_range":false,"battery_heater_on":null,"not_enough_power_to_heat":null,"max_range_charge_counter":0,"fast_charger_present":false,"fast_charger_type":"<invalid>","battery_range":197.95,"est_battery_range":142.23,"ideal_battery_range":224.1,"battery_level":78,"usable_battery_level":78,"battery_current":-0.3,"charge_energy_added":33.8,"charge_miles_added_rated":112.5,"charge_miles_added_ideal":127.5,"charger_voltage":null,"charger_pilot_current":null,"charger_actual_current":null,"charger_power":null,"time_to_full_charge":null,"charge_rate":0.0,"charge_port_door_open":false,"motorized_charge_port":false,"scheduled_charging_start_time":null,"scheduled_charging_pending":false,"user_charge_enable_request":null,"charge_enable_request":true,"eu_vehicle":false,"charger_phases":null}}'
  recorded_at: Wed, 17 Dec 2014 00:18:26 GMT
recorded_with: VCR 2.9.3
