---
http_interactions:
- request:
    method: post
    uri: https://owner-api.teslamotors.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=password&client_id=<TESLA_CLIENT_ID>&client_secret=<TESLA_CLIENT_SECRET>&email=<TESLA_EMAIL>&password=<TESLA_PASS>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"access_token":"d8dc10d49870becd6bb6069dc7a29db94d39381cf540402f9bde98a2eca3c0ed","token_type":"bearer","expires_in":7776000}'
  recorded_at: Wed, 17 Dec 2014 00:26:55 GMT
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d8dc10d49870becd6bb6069dc7a29db94d39381cf540402f9bde98a2eca3c0ed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"c5d083718f906b7336fb8b28fcc87b6c"'
    body:
      encoding: UTF-8
      string: '{"response":[{"color":null,"display_name":"Nikola","id":1514029006966957156,"option_codes":"MS01,RENA,TM00,DRLH,PF00,BT85,PBCW,RFPO,WT19,IBMB,IDPB,TR00,SU01,SC01,TP01,AU01,CH00,HP00,PA00,PS00,AD02,X020,X025,X001,X003,X007,X011,X013,COUS","vehicle_id":490215852,"vin":"5YJSA1CN5CFP01657","tokens":["6b6e59059375f282","09b1673648be8c08"],"state":"online","remote_start_enabled":true,"calendar_enabled":true,"notifications_enabled":true}],"count":1}'
  recorded_at: Wed, 17 Dec 2014 00:26:56 GMT
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles/1514029006966957156/data_request/vehicle_state
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d8dc10d49870becd6bb6069dc7a29db94d39381cf540402f9bde98a2eca3c0ed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"a030a309940a34c7ff61648072176666"'
    body:
      encoding: UTF-8
      string: '{"response":{"calendar_supported":true,"car_version":"1.67.125","dark_rims":false,"df":0,"dr":0,"exterior_color":"White","ft":0,"has_spoiler":false,"locked":true,"perf_config":"Base","pf":0,"pr":0,"remote_start":false,"rhd":false,"roof_color":"None","rt":0,"sun_roof_installed":true,"sun_roof_percent_open":0,"sun_roof_state":"unknown","vehicle_name":"Nikola","wheel_type":"Base19"}}'
  recorded_at: Wed, 17 Dec 2014 00:26:57 GMT
recorded_with: VCR 2.9.3
