---
http_interactions:
- request:
    method: post
    uri: https://owner-api.teslamotors.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=password&client_id=<TESLA_CLIENT_ID>&client_secret=<TESLA_CLIENT_SECRET>&email=<TESLA_EMAIL>&password=<TESLA_PASS>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"access_token":"c52467eba936bc29ff3754e8e2111ed862eaced10ba6b0c224af0542f7f7c4cd","token_type":"bearer","expires_in":7776000}'
  recorded_at: Wed, 17 Dec 2014 00:58:45 GMT
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c52467eba936bc29ff3754e8e2111ed862eaced10ba6b0c224af0542f7f7c4cd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"92bf165299826af7b9ed0b8f3886e15e"'
    body:
      encoding: UTF-8
      string: '{"response":[{"color":null,"display_name":"Nikola","id":1514029006966957156,"option_codes":"MS01,RENA,TM00,DRLH,PF00,BT85,PBCW,RFPO,WT19,IBMB,IDPB,TR00,SU01,SC01,TP01,AU01,CH00,HP00,PA00,PS00,AD02,X020,X025,X001,X003,X007,X011,X013,COUS","vehicle_id":490215852,"vin":"5YJSA1CN5CFP01657","tokens":["91a139ce322eed65","493cead2e5ab6535"],"state":"online","remote_start_enabled":true,"calendar_enabled":true,"notifications_enabled":true}],"count":1}'
  recorded_at: Wed, 17 Dec 2014 00:58:46 GMT
- request:
    method: post
    uri: https://owner-api.teslamotors.com/api/1/vehicles/1514029006966957156/command/set_charge_limit?percent=1&state=set
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer c52467eba936bc29ff3754e8e2111ed862eaced10ba6b0c224af0542f7f7c4cd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"f67eec105dd6522783a1f1bacc52723a"'
    body:
      encoding: UTF-8
      string: '{"response":{"reason":"","result":true}}'
  recorded_at: Wed, 17 Dec 2014 00:58:47 GMT
- request:
    method: get
    uri: https://owner-api.teslamotors.com/api/1/vehicles/1514029006966957156/data_request/charge_state
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c52467eba936bc29ff3754e8e2111ed862eaced10ba6b0c224af0542f7f7c4cd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"7b333df4258e48ecb3cb92923d4b44b8"'
    body:
      encoding: UTF-8
      string: '{"response":{"charging_state":"Disconnected","charge_limit_soc":50,"charge_limit_soc_std":90,"charge_limit_soc_min":50,"charge_limit_soc_max":100,"charge_to_max_range":false,"battery_heater_on":null,"not_enough_power_to_heat":false,"max_range_charge_counter":0,"fast_charger_present":false,"fast_charger_type":"<invalid>","battery_range":195.84,"est_battery_range":140.72,"ideal_battery_range":221.71,"battery_level":78,"usable_battery_level":78,"battery_current":0.0,"charge_energy_added":33.8,"charge_miles_added_rated":112.5,"charge_miles_added_ideal":127.5,"charger_voltage":3,"charger_pilot_current":null,"charger_actual_current":2,"charger_power":0,"time_to_full_charge":0.0,"charge_rate":0.0,"charge_port_door_open":false,"motorized_charge_port":false,"scheduled_charging_start_time":null,"scheduled_charging_pending":false,"user_charge_enable_request":null,"charge_enable_request":true,"eu_vehicle":false,"charger_phases":null}}'
  recorded_at: Wed, 17 Dec 2014 00:58:48 GMT
recorded_with: VCR 2.9.3
