$grey-dark: #333;
$grey-plain: #999;
$grey-light: #eee;

$blue-light: #5996f1;
$blue-dark: #3e586a;

$sidebar-width: 250px;

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: $grey-dark;
  font-family: 'Lato', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

header {
  @include clearfix();

  position: relative;
  font-size: 19px;
  box-shadow: 0 4px 0 0 rgba(0,0,0,0.15);

  a {
    display: inline-block;
    padding: 30px;
  }

  a.title {
    color: $grey-dark;
    font-weight: bold;
  }

  a.github {
    float: right;
    color: white;
    background-color: $blue-dark;
  }
}

nav {
  @include clearfix();

  .search {
    float: left;
    width: $sidebar-width;
    background-color: $blue-dark;
    padding: 20px;
  }

  .breadcrumbs {
    width: 100%;
    padding: 20px;
    padding-left: $sidebar-width + 20px;
    color: white;
    background-color: $blue-light;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      display: inline-block;

      a {
        color: white;
      }

      &:not(:last-child):after {
        content: " > ";
      }
    }
  }
}

aside {
  @include clearfix();

  float: left;
  width: $sidebar-width;

  a {
    display: inline-block;
    position: relative;
    padding: 10px 30px;
    color: $grey-dark;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 10px 0;
    }
  }

  li.active {
    padding-bottom: 0;

    > a {
      background-color: $grey-light;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  ul.pages {
    li {
      padding-bottom: 0;

      a {
        font-size: 15px;

        &:before {
          content: "L";
          position: relative;
          top: -3px;
          margin-right: 10px;
          color: $grey-plain;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
  }
}


main {
  @include clearfix();

  float: left;
}
